body {
    background-color: rgb(255, 253, 252);
    display: flex;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    justify-content: center;
    margin: 0 2em 0 2em;
    line-height: 1.4em;
}

.content {
    flex: 0 1 auto;
    width: 42em;
}

.about {
    margin: 0px;
}

.page-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.name {
    margin-left: 1em;
    margin-right: auto;
}

.post-header {
    align-items: baseline;
    color: rgb(90,88,87);
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    line-height: 0.5em;
}

a {
    color: black;
    text-decoration-color: rgb(90,88,87);
    text-decoration: underline;
}

a:hover {
    color: #FFA000;
    text-decoration-color: #d18400
}

.icon:hover {
    fill: #FFA000;
}

h1 > a, h2 > a, h3 > a, h4 > a, a.icon {
    text-decoration: none;
}

.svgi > svg {
    vertical-align: middle;
}

code {
    white-space: pre;
    font-family: "Consolas";
    font-size: 14px;
}

blockquote.aside {
    padding: 0.5em;
    background-color: hsla(20, 58%, 96%, 1)
}

.tags {
    align-items: baseline;
    color: rgb(90,88,87);
    display: flex;
    flex-flow: wrap;
    line-height: 1em;
    list-style-type: none;
    padding: 0;
}

.tags.post-tags {
    font-size: 16px;
    justify-content: flex-end;
    margin: 0;
}

.tags.all-tags {
    justify-content: flex-start;
    margin: -1em 0;
}

.list-tags {
    margin: -1em 0;
}

.tags a {
    color: rgb(45,44,43);
}

.post-tags a {
    text-decoration: none;
}

.tags > li {
    margin: 0 0.1em;
}

.post {
    margin: 2em auto;
}

.post img {
    display: block;
    margin: 0 auto;
}

.rss-link {
    font-size: 12px;
    text-align: right;
}

.post-title {
    line-height: 1em;
}

.katex {
    font-size: large;
}

pre.terminal, pre > code.language-terminal {
    background: #272822;
    padding: 0.66em 1em;
    margin: -0.25em auto;
    color: #f8f8f2;
    display: block;
    border-radius: 5px;
}

p code {
    background:  hsla(20, 90%, 95%, 1);
    padding: .1em .2em;
}

.katex-display > .katex {
    font-size: larger;
}

.highlight > pre {
    position: relative;
    padding: .25em 0;
    margin: -.25em 0;
}

.highlight code {
    font-size: 14px;
}

.highlight > pre::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    background: inherit;
    left: calc(50% - 50vw);
    z-index: -1;
    margin: -.25em 0;
    padding: .125em 0;
}

@media (min-width: 42em) {
    body {
        overflow-x: hidden;
    }
}
